Documentation/ASMM - Metadata schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.eufar.net/ASMM" xmlns:asmm="http://www.eufar.net/ASMM">
  <xs:element name="MissionMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="asmm:CreationDate"/>
        <xs:element ref="asmm:RevisionDate"/>
        <xs:element ref="asmm:FlightInformation"/>
        <xs:element ref="asmm:ContactInfo"/>
        <xs:element ref="asmm:ScientificAims"/>
        <xs:element ref="asmm:GeographicalRegion"/>
        <xs:element ref="asmm:AtmosFeatures"/>
        <xs:element ref="asmm:CloudTypes"/>
        <xs:element ref="asmm:ParticlesSampled"/>
        <xs:element ref="asmm:SurfacesOverflown"/>
        <xs:element ref="asmm:AltitudeRanges"/>
        <xs:element ref="asmm:FlightTypes"/>
        <xs:element ref="asmm:SatelliteCoordination"/>
        <xs:element ref="asmm:SurfaceObs"/>
        <xs:element ref="asmm:OtherComments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreationDate" type="xs:date"/>
  <xs:element name="RevisionDate" type="xs:date"/>
  <xs:element name="FlightInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="asmm:FlightNumber"/>
        <xs:element ref="asmm:Date"/>
        <xs:element ref="asmm:ProjectAcronym"/>
        <xs:element ref="asmm:MissionScientist"/>
        <xs:element ref="asmm:FlightManager"/>
        <xs:element ref="asmm:Platform"/>
        <xs:element ref="asmm:Operator"/>
        <xs:element ref="asmm:OperatorCountry"/>
        <xs:element ref="asmm:Manufacturer"/>
        <xs:element ref="asmm:RegistrationNumber"/>
        <xs:element ref="asmm:Localisation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlightNumber" type="xs:string"/>
  <xs:element name="Date" type="xs:date"/>
  <xs:element name="ProjectAcronym" type="xs:string"/>
  <xs:element name="MissionScientist" type="xs:string"/>
  <xs:element name="FlightManager" type="xs:string"/>
  <xs:element name="Platform" type="xs:string"/>
  <xs:element name="Operator" type="xs:string"/>
  <xs:element name="OperatorCountry" type="xs:string"/>
  <xs:element name="Manufacturer" type="xs:string"/>
  <xs:element name="RegistrationNumber" type="xs:string"/>
  <xs:element name="Localisation" type="xs:string"/>
  <xs:element name="ContactInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="asmm:ContactName"/>
        <xs:element ref="asmm:ContactRole"/>
        <xs:element ref="asmm:ContactEmail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactName" type="xs:string"/>
  <xs:element name="ContactRole" type="xs:string"/>
  <xs:element name="ContactEmail" type="xs:string"/>
  <xs:element name="ScientificAims">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:SA_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:SA_User"/>
        <xs:element minOccurs="0" ref="asmm:SA_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SA_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Satellite Cal/Val"/>
        <xs:enumeration value="Aerosol"/>
        <xs:enumeration value="Radiative properties/impacts (Aerosol)"/>
        <xs:enumeration value="Cloud microphysical impacts (Aerosol)"/>
        <xs:enumeration value="Anthropogenic pollution"/>
        <xs:enumeration value="Mesoscale atmospheric impacts"/>
        <xs:enumeration value="Microphysics (Cloud)"/>
        <xs:enumeration value="Dynamics (Cloud)"/>
        <xs:enumeration value="Radiative properties (Cloud)"/>
        <xs:enumeration value="Convection dynamics (Cloud)"/>
        <xs:enumeration value="Cloud (Boundary-layer)"/>
        <xs:enumeration value="Dynamics (Boundary-layer)"/>
        <xs:enumeration value="Radiation"/>
        <xs:enumeration value="Atmospheric spectroscopy (Radiation)"/>
        <xs:enumeration value="Surface properties/retrievals (Radiation)"/>
        <xs:enumeration value="Other (Radiation)"/>
        <xs:enumeration value="Gas chemistry"/>
        <xs:enumeration value="Oxydants (Gas chemistry)"/>
        <xs:enumeration value="Organics (Gas chemistry)"/>
        <xs:enumeration value="Other (Gas chemistry)"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SA_User"/>
  <xs:element name="SA_Other" type="xs:string"/>
  <xs:element name="GeographicalRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="asmm:GeographicBoundingBox"/>
        <xs:element maxOccurs="unbounded" ref="asmm:GR_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:GR_User"/>
        <xs:element minOccurs="0" ref="asmm:GR_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeographicBoundingBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="asmm:westBoundLongitude"/>
        <xs:element ref="asmm:eastBoundLongitude"/>
        <xs:element ref="asmm:northBoundLatitude"/>
        <xs:element ref="asmm:southBoundLatitude"/>
        <xs:element ref="asmm:minAltitude"/>
        <xs:element ref="asmm:maxAltitude"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="westBoundLongitude" type="xs:decimal"/>
  <xs:element name="eastBoundLongitude" type="xs:decimal"/>
  <xs:element name="northBoundLatitude" type="xs:decimal"/>
  <xs:element name="southBoundLatitude" type="xs:decimal"/>
  <xs:element name="minAltitude" type="xs:decimal"/>
  <xs:element name="maxAltitude" type="xs:decimal"/>
  <xs:element name="GR_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Polar"/>
        <xs:enumeration value="Mid-latitudes"/>
        <xs:enumeration value="Sub-tropical"/>
        <xs:enumeration value="Tropical"/>
        <xs:enumeration value="Maritime"/>
        <xs:enumeration value="Continental"/>
        <xs:enumeration value="Oceanic islands"/>
        <xs:enumeration value="Other (Geographical region)"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GR_User"/>
  <xs:element name="GR_Other" type="xs:string"/>
  <xs:element name="AtmosFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:AF_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:AF_User"/>
        <xs:element minOccurs="0" ref="asmm:AF_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AF_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Stationary"/>
        <xs:enumeration value="Stationary anticyclonic"/>
        <xs:enumeration value="Stationary cyclonic"/>
        <xs:enumeration value="Warm front"/>
        <xs:enumeration value="Warm conveyor belt"/>
        <xs:enumeration value="Cold front"/>
        <xs:enumeration value="Occluded front"/>
        <xs:enumeration value="Warm sector"/>
        <xs:enumeration value="Post-cold-frontal air-mass"/>
        <xs:enumeration value="Arctic cold-air outbreak"/>
        <xs:enumeration value="Orographic influence"/>
        <xs:enumeration value="Sea-breeze front"/>
        <xs:enumeration value="Stratospheric fold/intrusion"/>
        <xs:enumeration value="Extended convergence line"/>
        <xs:enumeration value="Easterly wave"/>
        <xs:enumeration value="Equatorial wave"/>
        <xs:enumeration value="Tropical cyclone"/>
        <xs:enumeration value="Mesoscale organized convection"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AF_User"/>
  <xs:element name="AF_Other" type="xs:string"/>
  <xs:element name="CloudTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:CT_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:CT_User"/>
        <xs:element minOccurs="0" ref="asmm:CT_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Water clouds"/>
        <xs:enumeration value="Mixed-phase clouds"/>
        <xs:enumeration value="Ice clouds"/>
        <xs:enumeration value="Cirrus"/>
        <xs:enumeration value="Contrails"/>
        <xs:enumeration value="Stratocumulus"/>
        <xs:enumeration value="Shallow cumulus"/>
        <xs:enumeration value="Cumulus congestus"/>
        <xs:enumeration value="Cumulonimbus/towering cumulus"/>
        <xs:enumeration value="Altostratus/altocumulus"/>
        <xs:enumeration value="Wave clouds"/>
        <xs:enumeration value="Deep frontal stratiform clouds"/>
        <xs:enumeration value="Cloud-free above aircraft"/>
        <xs:enumeration value="Cloud-free below aircraft"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CT_User"/>
  <xs:element name="CT_Other" type="xs:string"/>
  <xs:element name="ParticlesSampled">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:PS_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:PS_User"/>
        <xs:element minOccurs="0" ref="asmm:PS_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PS_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Rain"/>
        <xs:enumeration value="Drizzle"/>
        <xs:enumeration value="Droplets (Liquid)"/>
        <xs:enumeration value="Pristine ice crystals"/>
        <xs:enumeration value="Snow/aggregates"/>
        <xs:enumeration value="Graupel/hail"/>
        <xs:enumeration value="Sea-salt aerosol"/>
        <xs:enumeration value="Continental aerosol"/>
        <xs:enumeration value="Urban plume"/>
        <xs:enumeration value="Biomass burning"/>
        <xs:enumeration value="Desert/mineral dust"/>
        <xs:enumeration value="Volcanic ash"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PS_User"/>
  <xs:element name="PS_Other" type="xs:string"/>
  <xs:element name="SurfacesOverflown">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:SO_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:SO_User"/>
        <xs:element minOccurs="0" ref="asmm:SO_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Ocean"/>
        <xs:enumeration value="Semi-arid"/>
        <xs:enumeration value="Sea-ice"/>
        <xs:enumeration value="Desert"/>
        <xs:enumeration value="Snow"/>
        <xs:enumeration value="Urban"/>
        <xs:enumeration value="Lake-ice"/>
        <xs:enumeration value="Mountainous"/>
        <xs:enumeration value="Vegetation"/>
        <xs:enumeration value="Hilly"/>
        <xs:enumeration value="Forest"/>
        <xs:enumeration value="Flat"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SO_User"/>
  <xs:element name="SO_Other" type="xs:string"/>
  <xs:element name="AltitudeRanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:AR_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:AR_User"/>
        <xs:element minOccurs="0" ref="asmm:AR_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Boundary-layer"/>
        <xs:enumeration value="Near-surface (Boundary-layer)"/>
        <xs:enumeration value="Sub-cloud (Boundary-layer)"/>
        <xs:enumeration value="In-cloud (Boundary-layer)"/>
        <xs:enumeration value="Lower troposphere"/>
        <xs:enumeration value="Mid troposphere"/>
        <xs:enumeration value="Upper troposphere"/>
        <xs:enumeration value="Lower stratosphere"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AR_User"/>
  <xs:element name="AR_Other" type="xs:string"/>
  <xs:element name="FlightTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:FT_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:FT_User"/>
        <xs:element minOccurs="0" ref="asmm:FT_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FT_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="Straight/level runs"/>
        <xs:enumeration value="Stacked (Straight/level runs)"/>
        <xs:enumeration value="Separated (Straight/level runs)"/>
        <xs:enumeration value="Racetracks"/>
        <xs:enumeration value="Orbits"/>
        <xs:enumeration value="Lagrangian descents"/>
        <xs:enumeration value="Deep profile ascents/descents"/>
        <xs:enumeration value="Dropsonde deployed"/>
        <xs:enumeration value="Self-calibration"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FT_User"/>
  <xs:element name="FT_Other" type="xs:string"/>
  <xs:element name="SatelliteCoordination">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="asmm:SC_Code"/>
        <xs:element maxOccurs="unbounded" ref="asmm:SC_User"/>
        <xs:element minOccurs="0" ref="asmm:SC_Other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SC_Code">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="METOP (Polar)"/>
        <xs:enumeration value="NPOESS (Polar)"/>
        <xs:enumeration value="A-train (Polar)"/>
        <xs:enumeration value="Other (Polar)"/>
        <xs:enumeration value="MSG (Geosynch)"/>
        <xs:enumeration value="Other (Geosynch)"/>
        <xs:enumeration value="MODIS"/>
        <xs:enumeration value="Cloudsat"/>
        <xs:enumeration value="CALIOP"/>
        <xs:enumeration value="IASI"/>
        <xs:enumeration value="AIRS"/>
        <xs:enumeration value="CriS"/>
        <xs:enumeration value="AMSU/MHS"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SC_User"/>
  <xs:element name="SC_Other" type="xs:string"/>
  <xs:element name="SurfaceObs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="asmm:GroundSite"/>
        <xs:element ref="asmm:ResearchVessel"/>
        <xs:element ref="asmm:ArmSite"/>
        <xs:element ref="asmm:ArmMobile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroundSite" type="xs:string"/>
  <xs:element name="ResearchVessel" type="xs:string"/>
  <xs:element name="ArmSite" type="xs:string"/>
  <xs:element name="ArmMobile" type="xs:string"/>
  <xs:element name="OtherComments" type="xs:string"/>
</xs:schema>
